
.gitattributes
.gitattributes
.gitattributes
**/out/
**/.idea/
**/cmake-build-debug/
**/.ipynb_checkpoints/
**.fasta
**.log
**.phr
**.pin
**.pog
**.psd
**.psi
**.psq
**.aln
**.dnd
**.gbk
**.out
**.tlog
**.idb
**.obj
**.user
**.filters
**.ipch
**.suo
**.json
**.db
**.sqlite
**.pdb
**.exe
**.ilk
**.vcxproj
